<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="../icon/favicon.ico">
    <link rel="apple-touch-icon" href="../icon/apple-touch-icon.png" sizes="120x120">
    <link rel="apple-touch-icon" href="../icon/apple-touch-icon.png" sizes="152x152">
    <link rel="apple-touch-icon" href="../icon/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="../icon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="../icon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="../icon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" href="../icon/android-chrome-512x512.png" sizes="512x612">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/metro-all.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="../js/menu.js" defer></script>
    <script src="../js/metro.min.js" defer></script>
    <script src="../js/data.js" defer></script>
    <script src="../js/locales.js" defer></script>
    <meta charset="UTF-8">
    <title>{{.Company}}: {{.Version}}</title>
</head>
<body class="m4-cloak h-vh-100" style="min-width: 1360px;">
<div id="mainmenu" data-role="navview" data-expand="fs" data-compact="fs" class="compacted">
    <div class="navview-pane" style="z-index: 999">
        <div style="height: 52px;font-size: 10px;text-align: center;background: #cecece">
            <p style="padding-top: 20px;margin-bottom: 0;"><b>{{.Software}}</b></p>
        </div>
        <ul class="navview-menu">
            <li class="item-separator"></li>
            <li>
                <a href="index" style="cursor: default">
                    <span class="icon"><span class="mif-home"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuOverview}}</span>
                </a>
            </li>
            <li>
                <a href="workplaces" style="cursor: default">
                    <span class="icon"><span class="mif-dashboard"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuWorkplaces}}</span>
                </a>
            </li>
            <li>
                <a href="charts" style="cursor: default">
                    <span class="icon"><span class="mif-chart-dots"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuCharts}}</span>
                </a>
            </li>
            <li>
                <a href="statistics" style="cursor: default">
                    <span class="icon"><span class="mif-chart-bars"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuStatistics}}</span>
                </a>
            </li>
            <li class="active">
                <a href="data" style="cursor: default">
                    <span class="icon"><span class="mif-table"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuData}}</span>
                </a>
            </li>
            <li>
                <a href="settings" style="cursor: default">
                    <span class="icon"><span class="mif-cogs"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuSettings}}</span>
                </a>
            </li>
            <li>
                <div style="position: relative;cursor: default">
                    <span class="icon" style="margin: auto" id="info-button"><span class="mif-info"></span></span>
                </div>
            </li>
        </ul>
    </div>
    <div class="navview-content">
        <div data-role="appbar" class="pos-absolute" style="background: #e5e5e5">
            <div id="user-info" title="{{.UserEmail}}" style="position: absolute;top:18px;left: 10px;font-size: 14px;cursor: default">
                {{.UserName}} @ {{.Company}}
            </div>
            <div class="app-bar-container mx-auto" style="margin: 0">
                <div style="min-width:200px;margin-top: 3px">
                    <select id="data-selection" data-filter="false" data-role="select">
                        {{range .SelectionMenu}}
                        <option value="{{.SelectionValue}}" {{.Selection}}>{{.SelectionName}}</option>
                        {{end}}
                    </select>
                </div>
                <div style="margin-top: 3px;margin-left: 3px">
                    <input id="from-date" type="datetime-local"
                            value="{{.DateFrom}}">
                </div>
                <div style="margin-top: 3px;margin-left: 3px">
                    <input id="to-date" type="datetime-local"
                            value="{{.DateTo}}">
                </div>
                <div style="min-width:100px;margin-left: 3px">
                    <button id="data-ok-button" class="button primary"
                            style="min-width: 100px;max-width: 100px;height: 35px"><span class="mif-loop2"></span>
                    </button>
                </div>
            </div>
            <div id="loader" hidden style="position: absolute;top:18px;right: 143px"><span
                    class="mif-loop2 ani-spin"></span></div>
            <button class="button square m-1 mif-menu" id="table-button"
                    style="position: absolute;top:5px;right: 93px">
            </button>
            <button class="button square m-1 mif-bell" id="alarm-button" style="position: absolute;top:5px;right: 51px">
                <span class="badge bg-red fg-white">4</span>
            </button>
            <button class="button square m-1 mif-switch" id="logout-button"
                    style="position: absolute;top:5px;right: 9px">
            </button>
        </div>
        <div id="content-wrapper" class="content-inner h-100"
             style="padding-top: 62px;padding-left: 10px;padding-right: 10px;overflow-y: auto">
            <div class="row" style="margin: 0 0 8px 0;">
                <select data-role="select" multiple data-clear-button="true"
                        data-filter-placeholder="{{.DataFilterPlaceholder}}">
                    {{range .Workplaces}}
                    <option value="{{.WorkplaceName}}" {{.WorkplaceSelection}}>{{.WorkplaceName}}</option>
                    {{end}}
                </select>
            </div>
            <div id="data-table-container" style="display: block;margin:0 -1px 0 -1px;">
            </div>
        </div>
    </div>
</div>
<div data-role="charms" data-position="bottom" id="right-charms" class="charms bottom-side" data-opacity=".65"
     style="height: 75px;text-align:center;overflow: scroll;">
    <div>&copy; 2021 Petr Jahoda, version {{.Version}}
    </div>
    <div>Created with Metro 4 and Apache Echarts
    </div>
</div>
</body>
</html>
