<div class="important">
    <input id="device-name" type="text" data-role="input" data-prepend="{{.DeviceNamePrepend}}: "
           value="{{.DeviceName}}">
</div>
<div style="margin-top: 7px;">
    <select id="device-type-selection" data-filter="false" data-role="select"
            data-prepend="{{.DeviceTypeNamePrepend}}: ">
        {{range .DeviceTypes}}
        <option value="{{.DeviceTypeName}}" {{.DeviceTypeSelected}}>{{.DeviceTypeName}}</option>
        {{end}}
    </select>
</div>
<div style="margin-top: 7px;">
    <input id="ip-address" type="text" data-role="input" data-prepend="{{.IpAddressPrepend}}: "
           value="{{.IpAddress}}">
</div>
<div style="margin-top: 7px;">
    <input id="mac-address" type="text" data-role="input" data-prepend="{{.MacAddressPrepend}}: "
           value="{{.MacAddress}}">
</div>
<div style="margin-top: 7px;">
    <input id="device-version-name" type="text" data-role="input" data-prepend="{{.DeviceVersionPrepend}}: "
           value="{{.DeviceVersion}}">
</div>
<div style="margin-top: 7px;">
    <input id="device-settings" type="text" data-role="input" data-prepend="{{.DeviceSettingsPrepend}}: "
           value="{{.DeviceSettings}}">
</div>
<div style="margin-top: 7px;">
    <input id="device-note" type="text" data-role="input" data-prepend="{{.NotePrepend}}: "
           value="{{.Note}}">
</div>
<div style="margin-top: 7px;">
    <select id="device-enabled-selection" data-filter="false" data-role="select" data-prepend="{{.EnabledPrepend}}: ">
        {{range .DeviceEnabledSelection}}
        <option value="{{.DeviceEnabled}}" {{.DeviceEnabledSelected}}>{{.DeviceEnabled}}</option>
        {{end}}
    </select>
</div>
<div style="margin-top: 7px;" disabled>
    <input id="created-at" type="text" data-role="input" data-prepend="{{.CreatedAtPrepend}}: " value="{{.CreatedAt}}">
</div>
<div style="margin-top: 7px;" disabled>
    <input id="updated-at" type="text" data-role="input" data-prepend="{{.UpdatedAtPrepend}}: " value="{{.UpdatedAt}}">
</div>
<div style="margin-top: 7px;text-align: right">
    <button id="data-save-button" class="button primary" style="min-width: 100px;max-width: 100px;height: 35px;margin-right: 0">
        <span class="mif-floppy-disk" id="data-save-button-mif"></span>
    </button>
</div>
<div id="ports" style="margin-top: 50px;" {{.PortsHidden}}>
    <table class="table striped row-hover" data-role="table" id="data-port-table" data-check="true" data-check-type="radio"
           data-show-search="false" data-show-table-info="false" data-show-pagination="false" data-show-activity="false"
           data-show-rows-steps="false" >
        <thead data-sortable="true">
        <tr>
            {{range .TableHeader}}
            <th class="sortable-column asc" data-size="{{.HeaderWidth}}">{{.HeaderName}}</th>
            {{end}}
        </tr>
        </thead>
        <tbody>
        {{range .TableRows}}
        <tr>
            {{range .TableCell}}
            <td>{{.CellName}}</td>
            {{end}}
        </tr>
        {{end}}
        </tbody>
    </table>
    <div style="margin-top: 7px;text-align: right">
        <button id="data-new-port-button" class="button primary" style="min-width: 100px;max-width: 100px;height: 35px;margin-top: -4px;margin-right: 0">
            <span class="mif-plus" id="data-new-port-button-mif"></span>
        </button>
    </div>
    <div id="port-container"></div>
</div>
