<div class="row mb-2" style="margin-top: -6px;margin-left: -5px;margin-right: -5px;">
    <div class="cell-7 my-search-wrapper"></div>
    <div class="cell-5 my-rows-wrapper"></div>
</div>
<div style="margin-top: -18px;border: 1px solid transparent">
    <table class="table striped row-hover" data-role="table" data-horizontal-scroll="true" id="data-table"
           data-table-search-title="{{.DataTableSearchTitle}}" data-table-info-title="{{.DataTableInfoTitle}}"
           data-table-rows-count-title="{{.DataTableRowsCountTitle}}" data-pagination-prev-title="⇦"
           data-pagination-next-title="⇨" data-check="true"
           data-show-table-info="false"
           data-pagination-wrapper=".my-pagination-wrapper"
           data-search-wrapper=".my-search-wrapper"
           data-rows-wrapper=".my-rows-wrapper"
           data-rows-steps="5, 10, 15"
           data-rows="10"
           data-check-type="radio">
        <thead data-sortable="true">
        <tr>
            {{range .TableHeader}}
            <th class="sortable-column asc" data-size="{{.HeaderWidth}}">{{.HeaderName}}</th>
            {{end}}
        </tr>
        </thead>
        <tbody>
        {{range .TableRows}}
        <tr>
            {{range .TableCell}}
            <td>{{.CellName}}</td>
            {{end}}
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
<div class="row mb-2" style="margin-top: -14px;margin-left: -5px;margin-right: -5px;">
    <div class="cell-7 my-pagination-wrapper"></div>
    <div class="cell-5" style="text-align: right">
        <button id="data-new-button" class="button primary"
                style="min-width: 100px;max-width: 100px;height: 35px;margin-top: 4px;margin-right: 0`  ">
            <span class="mif-plus" id="data-new-button-mif"></span>
        </button>
    </div>
</div>


<div class="row mb-2" style="margin-top: 50px;margin-left: -5px;margin-right: -5px;">
    <div class="cell-7 my-search-wrapper-type"></div>
    <div class="cell-5 my-rows-wrapper-type"></div>
</div>
<div style="margin-top: -18px;border: 1px solid transparent">
    <table class="table striped row-hover" data-role="table" data-horizontal-scroll="true" id="type-table"
           data-table-search-title="{{.DataTableSearchTitle}}" data-table-info-title="{{.DataTableInfoTitle}}"
           data-table-rows-count-title="{{.DataTableRowsCountTitle}}" data-pagination-prev-title="⇦"
           data-pagination-next-title="⇨" data-check="true"
           data-show-table-info="false"
           data-pagination-wrapper=".my-pagination-wrapper-type"
           data-search-wrapper=".my-search-wrapper-type"
           data-rows-wrapper=".my-rows-wrapper-type"
           data-rows-steps="5, 10, 15"
           data-rows="5"
           data-check-type="radio">
        <thead data-sortable="true">
        <tr>
            {{range .TableHeaderType}}
            <th class="sortable-column asc" data-size="{{.HeaderWidthType}}">{{.HeaderNameType}}</th>
            {{end}}
        </tr>
        </thead>
        <tbody>
        {{range .TableRowsType}}
        <tr>
            {{range .TableCellType}}
            <td>{{.CellNameType}}</td>
            {{end}}
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
<div class="row mb-2" style="margin-top: -14px;margin-left: -5px;margin-right: -5px;">
    <div class="cell-7 my-pagination-wrapper-type"></div>
    <div class="cell-5" style="text-align: right">
        <button id="data-new-button-type" class="button primary"
                style="min-width: 100px;max-width: 100px;height: 35px;margin-top: 4px;margin-right: 0">
            <span class="mif-plus" id="data-new-button-type-mif"></span>
        </button>
    </div>
</div>



