<div class="important">
    <input id="workplace-name" type="text" data-role="input" data-prepend="{{.WorkplaceNamePrepend}}: "
           value="{{.WorkplaceName}}">
</div>
<div style="margin-top: 6px;">
    <select id="workplace-section-selection" data-filter="false" data-role="select"
            data-prepend="{{.WorkplaceSectionPrepend}}: ">
        {{range .WorkplaceSections}}
        <option value="{{.WorkplaceSectionName}}" {{.WorkplaceSectionSelected}}>{{.WorkplaceSectionName}}</option>
        {{end}}
    </select>
</div>
<div style="margin-top: 6px;">
    <select id="workplace-mode-selection" data-filter="false" data-role="select"
            data-prepend="{{.WorkplaceModePrepend}}: ">
        {{range .WorkplaceModes}}
        <option value="{{.WorkplaceModeName}}" {{.WorkplaceModeSelected}}>{{.WorkplaceModeName}}</option>
        {{end}}
    </select>
</div>
<div style="margin-top: 6px;">
    <select id="workshifts" data-role="select" data-prepend="{{.WorkshiftsPrepend}}: " multiple data-clear-button="false"
            data-filter="false" data-filter-placeholder="{{.DataFilterPlaceholder}}">
        {{range .Workshifts}}
        <option value="{{.WorkshiftName}}" {{.WorkshiftSelection}}>{{.WorkshiftName}}</option>
        {{end}}
    </select>
</div>
<div style="margin-top: 6px;margin-left: 0;margin-right: 0" class="row">
    <select id="production-downtime-selection" data-filter="true" data-role="select"
            data-prepend="{{.ProductionDowntimePrepend}}: " data-add-empty-value="true" class="cell-10">
        {{range .ProductionDowntimes}}
        <option value="{{.WorkplacePortName}}" {{.WorkplacePortSelected}}>{{.WorkplacePortName}}</option>
        {{end}}
    </select>
    <div class="cell-1"></div>
    <input id="production-color" type="color" class="cell-1" style="height: 36px;margin-top: 0;border:none"
           value="{{.ProductionColorValue}}">
</div>

<div style="margin-top: 6px;margin-left: 0;margin-right: 0" class="row">
    <select id="poweron-poweroff-selection" data-filter="true" data-role="select"
            data-prepend="{{.PoweronPoweroffPrepend}}: " data-add-empty-value="true" class="cell-10">
        {{range .PoweronPoweroffs}}
        <option value="{{.WorkplacePortName}}" {{.WorkplacePortSelected}}>{{.WorkplacePortName}}</option>
        {{end}}
    </select>
    <div class="cell-1"></div>
    <input id="poweroff-color" type="color" class="cell-1" style="height: 36px;margin-top: 0;border:none;width: 10px"
           value="{{.PoweroffColorValue}}">
</div>

<div style="margin-top: 6px;margin-left: 0;margin-right: 0" class="row">
    <select id="count-ok-selection" data-filter="true" data-role="select"
            data-prepend="{{.CountOkPrepend}}: " data-add-empty-value="true" class="cell-10">
        {{range .CountOks}}
        <option value="{{.WorkplacePortName}}" {{.WorkplacePortSelected}}>{{.WorkplacePortName}}</option>
        {{end}}
    </select>
    <div class="cell-1"></div>
    <input id="ok-color" type="color" class="cell-1" style="height: 36px;margin-top: 0;border:none;width: 20px"
           value="{{.OkColorValue}}">
</div>

<div style="margin-top: 6px;margin-right: 0;margin-left: 0;" class="row">
    <select id="count-nok-selection" data-filter="true" data-role="select"
            data-prepend="{{.CountNokPrepend}}: " data-add-empty-value="true" class="cell-10">
        {{range .CountNoks}}
        <option value="{{.WorkplacePortName}}" {{.WorkplacePortSelected}}>{{.WorkplacePortName}}</option>
        {{end}}
    </select>
    <div class="cell-1"></div>
    <input id="nok-color" type="color" class="cell-1" style="height: 36px;border:none" value="{{.NokColorValue}}">
</div>


<div style="margin-top: 6px;">
    <input id="code" type="text" data-role="input" data-prepend="{{.WorkplaceCodePrepend}}: "
           value="{{.WorkplaceCode}}">
</div>
<div style="margin-top: 6px;">
    <input id="workplace-note" type="text" data-role="input" data-prepend="{{.NotePrepend}}: "
           value="{{.Note}}">
</div>
<div style="margin-top: 6px;" disabled>
    <input id="created-at" type="text" data-role="input" data-prepend="{{.CreatedAtPrepend}}: " value="{{.CreatedAt}}">
</div>
<div style="margin-top: 6px;" disabled>
    <input id="updated-at" type="text" data-role="input" data-prepend="{{.UpdatedAtPrepend}}: " value="{{.UpdatedAt}}">
</div>
<div style="margin-top: 6px;text-align: right">
    <button id="data-save-button" class="button primary" style="min-width: 100px;max-width: 100px;height: 35px;margin-right: 0">
        <span class="mif-floppy-disk" id="data-save-button-mif"></span>
    </button>
</div>
<div id="workplace-ports" style="margin-top: 50px;">
    <table class="table striped row-hover" data-role="table" id="data-workplace-port-table" data-check="true"
           data-check-type="radio"
           data-show-search="false" data-show-table-info="false" data-show-pagination="false" data-show-activity="false"
           data-show-rows-steps="false">
        <thead data-sortable="true">
        <tr>
            {{range .TableHeader}}
            <th class="sortable-column asc" data-size="{{.HeaderWidth}}">{{.HeaderName}}</th>
            {{end}}
        </tr>
        </thead>
        <tbody>
        {{range .TableRows}}
        <tr>
            {{range .TableCell}}
            <td>{{.CellName}}</td>
            {{end}}
        </tr>
        {{end}}
        </tbody>
    </table>
    <div style="text-align: right">
        <button id="data-new-workplace-port-button" class="button primary"
                style="min-width: 100px;max-width: 100px;height: 35px;margin-top:-4px;margin-right: 0">
            <span class="mif-plus" id="data-new-workplace-port-button-mif"></span>
        </button>
    </div>
    <div id="workplace-port-container"></div>
</div>
