<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="60">
    <link rel="icon" href="../icon/favicon.ico">
    <link rel="apple-touch-icon" href="../icon/apple-touch-icon.png" sizes="120x120">
    <link rel="apple-touch-icon" href="../icon/apple-touch-icon.png" sizes="152x152">
    <link rel="apple-touch-icon" href="../icon/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="../icon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="../icon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="../icon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" href="../icon/android-chrome-512x512.png" sizes="512x612">
    <link rel="stylesheet" href="../css/metro-all.min.css">
    <script src="../js/metro.min.js" defer></script>
    <script src="../js/menu.js" defer></script>
    <script src="../js/workplaces.js" defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>{{.Version}}</title>
</head>
<body class="m4-cloak h-vh-100" style="min-width: 1000px;">
<div id="mainmenu" data-role="navview" data-toggle="#paneToggle" data-expand="xxl" data-compact="sm"
     class="{{.Compacted}}">
    <div class="navview-pane" style="z-index: 999">
        <div class="d-flex flex-align-center">
            <button class="pull-button m-0" style="height: 52px" id="menu">
                <span class="mif-menu"></span>
            </button>
        </div>
        <ul class="navview-menu">
            <li class="item-separator"></li>
            <li>
                <a href="index">
                    <span class="icon"><span class="mif-home"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuOverview}}</span>
                </a>
            </li>
            <li class="active">
                <a href="workplaces">
                    <span class="icon"><span class="mif-dashboard"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuWorkplaces}}</span>
                </a>
            </li>
            <li>
                <a href="charts">
                    <span class="icon"><span class="mif-chart-dots"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuCharts}}</span>
                </a>
            </li>
            <li>
                <a href="statistics">
                    <span class="icon"><span class="mif-chart-bars"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuStatistics}}</span>
                </a>
            </li>
            <li>
                <a href="data">
                    <span class="icon"><span class="mif-table"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuData}}</span>
                </a>
            </li>
            <li>
                <a href="settings">
                    <span class="icon"><span class="mif-cogs"></span></span>
                    <span class="caption" style="text-transform: uppercase">{{.MenuSettings}}</span>
                </a>
            </li>
        </ul>
        <div class="w-100 text-center text-small data-box p-2 border-top" style="position: absolute; bottom: 0">
            <div style="mix-blend-mode: multiply;">
                <img data-role="gravatar" data-email="{{.UserEmail}}" data-default="identicon" alt="gravatar">
            </div>
            <br>
            <br>
            <br>
            <div>
                <button class="button square m-1">
                    <span class="mif-bell"></span>
                    <span class="badge bg-red fg-white">4</span>
                </button>
                <h6 class="m-0">{{.UserName}} @ {{.Company}}</h6>
            </div>
            <br>
            <hr>
            <br>
            <div>&copy; 2021 <a href="mailto:petr.jahoda@me.com" class="text-muted fg-black no-decor">Petr Jahoda&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div>Created with <a href="https://metroui.org.ua" class="text-muted fg-black no-decor">Metro 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
            <div>Version {{.Version}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        </div>
    </div>
    <div class="navview-content">
        <div data-role="appbar" class="pos-absolute" style="background: #e5e5e5">
            <a href="#" class="app-bar-item d-block d-none-sm" id="paneToggle"><span class="mif-menu"></span></a>
            <div class="app-bar-container mx-auto" style=";margin: 0">
                <div style="min-width:200px;margin-top: 3px;margin-left: 24px;">
                    <progress value="0" max="60" id="progress-bar" style="margin-left: 24px;"></progress>
                </div>
            </div>
        </div>
        <div id="content-wrapper" class="content-inner h-100"
             style="padding-top: 62px;padding-left: 10px;padding-right: 10px;overflow-y: auto">
            {{range .WorkplaceSections}}
            <div data-role="panel" data-title-caption="{{.SectionName}}" data-collapsible="true"
                 data-title-icon="<span class='mif-dashboard'></span>"
                 data-on-collapse="dataCollapse"
                 data-on-expand="dataExpand"
                 style="{{.PanelCompacted}}">
                <div class="row centered">
                    {{range .Workplaces}}
                    <div class="card shadow-2 " style="width: 24.0%;margin: 0.5%;cursor: default">
                        <div class="card-header text-center" style="{{.WorkplaceColor}}">
                            <div class="text-leader2 text-medium">
                                {{.WorkplaceName}}: {{.WorkplaceStateName}} <span
                                    class="text-small text-light va-middle">[{{.WorkplaceStateDuration}}]</span>
                            </div>
                        </div>
                        <div class="card-content text-left" style="margin-top: 10px;margin-left: 15px;font-size: 16px"> {{.Information}} <span
                                class="text-small text-light va-middle">{{.OrderDuration}}</span></div>
                        <div class="card-content text-left" style="margin-left: 15px;font-size: 16px"> {{.UserInformation}}</div>
                        <div class="card-content text-left" style="margin-left: 15px;font-size: 16px"> {{.BreakdownInformation}}</div>
                        <div class="card-content text-left" style="margin-bottom: 10px;margin-left: 15px;font-size: 16px"> {{.AlarmInformation}}</div>

                        <div class="card-footer">
                            <div class="place-left" style="margin-right: 7px">{{.TodayDate}}</div>
                            <div data-role="progress" data-value="{{.WorkplaceProductivityToday}}"></div>
                            <div class="text-bold place-right" style="margin-left: 7px">
                                {{.WorkplaceProductivityToday}}%
                            </div>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
            <br>
            {{end}}
        </div>
    </div>
</div>
</body>
</html>
